<header>
  <div class="logo">
    <a href="/">Quentin Tarantino</a>
  </div>
  <nav>
    <ul>

      <li><a id="forReview" href="allReviews">Reviews</a></li>

      <% if (!isAuthenticated && !isAuthenticated2) { %>

        <% if(path!="login") { %>
      <li><a href="login">Login</a></li>
      <% } %>
      <%  if(path!="signup"){ %>
      <li><a href="signup">Signup</a></li>
      <% } %>
      

      <% } else { %>

      <li><a id="forReview" href="myReviews">My Reviews</a></li>

      <form  action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button id = "logoutBtn" type="submit">Logout</button>
      </form>
      <% } %>
    </ul>
  </nav>
</header>
