/* body{
  overflow: hidden;
} */
header{
  background-color: #000000;
}

#formBox{
    
    position: relative;
    top: 120px;
    
     
}

#form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  box-sizing: border-box; 
 
}




label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: #333;
  font-size: 20px;
  background-color: rgba(233, 233, 71, 0.76);
}

::placeholder{
  color: whitesmoke;
}

button {
  padding: 10px;
  background-color: yellow;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
}

.empty {
  background-color: rgba(202, 202, 133, 0.199);
  color: white;
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
}

.empty button{
  background-color: yellow;
  text-decoration: none;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  border: 0;
  font-size: 14px;
  padding: 10px;
  color: black;
  border-radius: 2px;

}

button a{
  color: black;
}


